.globalaction {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bx

{
    font-size: 16px;
}

> ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    > li

{
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

> li:hover {
    background-color: #7971ea;
    color: white;
}

> li:active {
    background-color: #6860db;
}

> :nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

> :nth-child(2) {
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

> :nth-child(3) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

}

> .refresh {
    padding: 5px 10px 5px 10px;
    border-left: solid 1px lightgray;
    cursor: pointer;
}

    > .refresh:hover {
        background-color: lightgray;
    }

    > .refresh:active {
        background-color: gray;
    }
}

.alertactionresult {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    border-right: solid 10px gold;
    background-color: #7971ea;
    box-shadow: 0px 0px 10px lightgray;
    i

{
    font-size: 40px;
    margin-right: 5px;
}

> p {
    margin-bottom: 0px;
}
}

