* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0 auto;
    /* Center website */
    padding: 20px;
}
p {
    margin: 0px 0px 0px 0px;
}

.ratedannounce {
    background-color: #7971ea;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.pointrating {
    margin-bottom: 10px;
    margin: 0px 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > p {
        margin-bottom: 0px;
    }
}
.reviewcomment {
    > textarea {
        width: 100%;
        height: 80px;
        resize: none;
        border: none;
        border-bottom: solid 1px lightgray;
        padding: 5px;
    }
    margin-bottom: 5px;
}
.action {
    display: flex;
    justify-content: space-between;
    > label {
        > input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}
.bx-eraser, .bxs-send {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.bxs-send {
    border-radius: 5px;
    border: solid 1px #7971ea;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
}
.bxs-send:hover {
    border: solid 1px #7971ea;
    background-color: #7971ea;
    color: white;
}
.bxs-send:active {
    background-color: #6860db;
}